.qa,
.js {
  transform-style: preserve-3d;
  transition-duration: 1.5s;
}

.js {
  & .card__wrapper {
    background-color: $warn;
  }

  &:hover {
    transform: rotateY(180deg);
  }

  & .card__content {
    transform: rotateY(180deg);
  }
}

.php {
  &:hover {
    .card__content {
      transform: scale(1.0, 1.0);
    }
  }

  & .card__wrapper {
    background-color: $php;
  }

  & .card__content {
    z-index: 4;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition-duration: 1s;
    transform: scale(0.0001, 0.0001);
  }
}

.bsa,
.java,
.net,
.events,
.blog,
.contacts {
  overflow: hidden;

  & .card__wrapper {
    transform-style: preserve-3d;
    transition-duration: 1s;
  }
}

.bsa {
  .card__wrapper {
    background-color: $main;

    & .card__title--primary {
      font-weight: 700;
      font-size: 4.5rem;
    }
  }

  &:hover {
    .card__wrapper {
      transform: scale(0.0001, 0.0001);
      transform: rotateY(180deg);
    }
  }
}

.java {
  .card__wrapper {
    background-color: $danger;

    & .card__title {
      font-size: 2rem;
    }
  }

  &:hover {
    .card__wrapper {
      opacity: 0;
      transform: scale(0.0001, 0.0001);
      transition: 1s;
    }
  }
}

.qa {
  & .card__wrapper {
    background-color: $success;

    & .card__title--primary {
      font-style: italic;
      font-weight: 600;
    }
  }

  &:hover {
    transform: rotateX(180deg);
    transform: scaleX(0.0005, 0.0005);
  }

  & .card__content {
    transform: rotateX(180deg);
  }
}

.net {
  & .card__wrapper {
    background-color: #642077;
  }

  &:hover {
    .card__wrapper {
      transform: translate(100%);
      transform: scaleX(0.0005, 0.0005);
    }
  }
}

.events,
.blog,
.contacts {
  & .card__title {
    font-size: 1rem;
  }
}

.events {
  & .card__wrapper {
    background-color: #2D99FF;
  }

  &:hover {
    .card__wrapper {
      transform: translateX(-100%);
      transform: rotateX(95deg);
      transition: 1.5s;
    }
  }
}

.blog {
  & .card__wrapper {
    z-index: 2;
    background-color: #0443A3;
  }

  &:hover {
    .card__wrapper {
      transform: translateY(-100%);
      transition: 1s;
    }
  }
}

.contacts {
  & .card__wrapper {
    background-color: #00265F;
    z-index: 1;
  }

  &:hover {
    .card__wrapper {
      transform: translate(100%, 100%);
    }
  }
}