
@keyframes pullDown {
  0% {
    top: -60px;
  }
  100% {
    top: 0;
  }
}

.header {
  display: flex;
  z-index: 4;
  justify-content: space-between;
  background-color: $main;
  padding: 10px 10%;
  position: fixed;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  animation: pullDown 1s ease-in-out;

  &__logo {
    font-size: 32px;
    display: inline-flex;
    align-items: baseline;
    font-weight: 700;

    &--dot {
      font-size: 25px;
      display: inline-block;
      position: relative;

      &::after {
        content: '\25a0';
        display: inline-block;
        position: absolute;
        top: -10px;
        left: -0.5px;
        color: $dot;
        font-size: 15px;
      }
    }

    &--wrapped {
      display: flex;
      height: 38%;
      flex-direction: column;
      font-size: 13px;
      line-height: 0.9;
      align-self: center;
      padding-left: 7px;
      color: $ligth-secondary;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
  }
  &__menu {
    display: flex;
    align-items: center;
    position: relative;
  }
}

.menu {
  &__bell {
    color: $ligth-secondary;

    &:hover {
      color: $dark-secondary;
      cursor: pointer;
    }
  }

  &__avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: $warn;
    color: $main;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    &--letter {
      font-size: 28px;
    }
  }

  &__check {
    opacity: 0;
    position: absolute;
    right: 0;
    cursor: pointer;
    top: 0;
    width: 40px;
    height: 48px;

    &:hover~.menu__avatar {
      background-color: #a5960d;
    }
  }

  .menu__profile {
    display: none;
    position: absolute;
    right: 0;
    top: 50px;
    width: max-content;
    height: 95px;
    z-index: 2;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 15px;
    background-color: $main;
    box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
    font-size: 13px;

    &--secondary {
      width: 100%;
      color: $ligth-secondary;
      letter-spacing: 0.8px;
      margin-bottom: 4px;
      border-bottom: 1px solid $ligth-secondary;
    }

    &--primary {
      color: $dark;
      text-decoration: none;
      font-weight: 600;
      width: 100%;

      &:hover {
        background-color: $background;
      }
    }
  }

  &__check:checked~.menu__profile {
    display: flex;
  }

}