.container {
  padding: 120px 10%;
  flex-grow: 3;
  width: 100%;
  background-color: $background;
  display: grid;
  grid-template-columns: repeat(24, 0.5fr);
  grid-template-rows: repeat(12, 60px);
  position: relative;
}

.js {
  grid-column: span 6;
  grid-row: span 6;
}

.bsa {
  grid-column: span 6;
  grid-row: span 9;
}

.info {
  grid-row: span 8;
  grid-column: span 5;
  position: absolute;
  right: 10%;
  bottom: 120px;
  height: 360px;
  width: 17%;
  display: grid;
  grid-template-rows: 5fr 5fr 2fr;
}

.java {
  grid-row: span 3;
  grid-column: span 6;
}

.php {
  grid-column: span 12;
  grid-row: span 6;
}

.qa {
  grid-column: span 6;
  grid-row: span 6;
}

.net {
  grid-column: span 7;
  grid-row: span 6;
}

.card {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  &__logo {
    width: 80%;
    height: auto;
  }

  &__wrapper {
    flex-basis: 100%;
    padding: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    backface-visibility: hidden;
    z-index: 3;
  }

  &__title {
    color: $main;
    font-weight: 500;
    backface-visibility: hidden;

    &--primary {
      color: $dark;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $main;
    width: 100%;
    height: 100%;
    color: black;
    padding: 2%;
    font-size: 1rem;
    overflow-y: auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    z-index: 0;
  }

  & .centred {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    width: 100px;
    height: 50px;
    border-radius: 4px;
    background-color: royalblue;
    color: $main;
    border: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;

    &:hover {
      background-color: blue;
    }

  }
}

.social {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;

  &__item:hover {
    fill: royalblue;
  }
}

@media screen and (max-width: 1280px) {
  .info {
    position: static;
    width: 100%;
  }
  .bsa, .js, .info {
    grid-column: span 8;
    grid-row: span 6;
  }
  .qa, .java, .net, .php {
    grid-column: span 12;
    grid-row: span 3;
  }
}