.notification {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 300px;
  z-index: 3;
}

.notif {
  margin: 10px;
  opacity: 0.6;
  border-radius: 4px;
  padding: 15px 10px;
  display: flex;
  align-items: center;

  &__sign {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: $main;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }

  &__desc {
    color: $main;
    display: flex;
    flex-direction: column;
  }
}

.danger {
  background-color: $danger;

  & .sign {
    color: $danger;
  }
}

.sign {
  color: $main;
}

.warning {
  background-color: $warn;
}

.success {
  background-color: $success;
}