@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");
@import './_variables.scss';
@import './_header.scss';
@import './_markup.scss';
@import './_animations.scss';
@import './_notification.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.footer {
  width: 100%;
  padding: 10px 10%;
  background-color: $background;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  height: 0;
  width: 7px;
}
  ::-webkit-scrollbar-track {
  background-color: #6e9fcf
}
  ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  background-color: #0d698d;
  border-radius: 0;
}
  ::-webkit-scrollbar-thumb:hover{
  background-color: rgb(5, 13, 85);
}
  ::-webkit-resizer{
  background-repeat: no-repeat;
  height: 0;
  width: 6px;
}
  ::-webkit-scrollbar{
  width: 6px;
}